<h1 class="bio">Biography:</h1>

<div  class="biography">
  <p class="lead"> 
    At the moment, I'm living in South Central LA, in pretty calm neighborhood. It's where I grew up you see that made me realize
    how life can be. It has been rather joyous life and interesting, with challenges and diffilculties ahead. I see everything
    as a puzzle, making it fun and exciting to understand. Telling me new things everytime, giving me a new perspective on
    a challenge, and learning to understand why it works. I still live in SCLA, although most of my life was routine, I recently
    joined a program called TxT. Teaching me how to understand reality, the program, and the aspect of leadership. I
    met so many people who gave me new perspective's on others, who showed me how they think and to me, that was the most valuable concept.
    Learning how others can see things. I attend a charter high school with around 550 kids total. Pretty big if you think
    about it, lot of people. As of right now, I'm attending the SEAL's program with TxT, learning how to construct an entire website
    from scratch. I still wan't to explore around and see what other things there are to explore.
  </p>
</div>

<h2></h2>

<!-- <div class="bg"></div> -->


<h1 class="MyWork">My Work</h1>

<hr class="WorkLine">


  <a href="https://github.com/jestrada56139">

    <img class="zoom" src="../../assets/githubLogo.svg" alt="github">
    </a>

  <a href="https://www.linkedin.com/in/jonathan-estrada-3027a2159/">
  
    <img class="zoom" src="../../assets/linkedin.png" alt="linkedIn">

  
  </a>
