<h1 class="welcomeContact">Hey! Trying to reach me? Heres my:</h1>
<h2 class="email">Email: rulers321@gmail.com</h2>
<h2 class="phone">Phone #: (323)-392-6989</h2><br/>

<p class="staticMessage">Any questions? Feel free to send me a message below.</p>

<hr class="lineToSeperateForm">

<form>
  <div class="row">
    <div class="col">
      <input type="text" id="userEmail"  class="form-control col-10" placeholder="Your Email">
    </div>
    <div class="col">
      <input id="userName" type="text" class="form-control col-10" placeholder="Your Full Name">
    </div>
  </div>
<br>
  <div id="userMessage" class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <textarea class="form-control col-11" id="exampleFormControlTextarea1" rows="15" placeholder="Your Message"></textarea>
    </div>
</form>

