.welcomeContact {
    margin-top: 1%;
    margin-left: 1%; 
}

.email {
    margin-left: 2%;
    margin-top: 1%;
}

.phone {
    margin-left: 2%;
    margin-top: .5%;

}

.lineToSeperateForm {
    width: 70%;
    opacity: 100%; 
}


.staticMessage {
    text-align: center;
}

#userEmail {
    margin: auto;
}

#userLastname {
    margin-left: 14%;
}

#userMessage {
    margin-left: 7%;
}

#submitButton {
    margin: auto;
    margin-left: 45%;
}