<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary sticky-top " style="background-color: #e3f2fd;">
  <div [ngClass]="{ 'show': navbar }"  class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color:aliceblue" href="#" routerLink="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:aliceblue" href="#" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:aliceblue" href="#" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
    </ul>
    
  </div>
  <div (click)="showNavBar()">
  <i  class="burger fas fa-bars"></i>
</div>
</nav>



<router-outlet></router-outlet>
  

<!-- 
<div class="col-md-6">

<a href="https://github.com/jestrada56139">

  <img class="zoom" src="../../assets/githubLogo.svg" alt="github">
</a>
</div>
<p class="rights">all rights reserved.</p> -->
