.burger {
    display: none;
}

@media (max-width: 992px) { 
    .navbar {
        
        background-color:rgb(107, 186, 255) !important;
    }
    .burger {
        display: block;
    }
 }

 @media (max-width: 768px) { 
    .navbar {
        
        background-color:rgb(107, 186, 255) !important;
    }
 }

 .navbar {
    background-color:rgb(107, 186, 255) !important;

 }


