.burger {
    display: none;
}

@media (max-width: 992px) { 
    .navbar {
        
        background-color: red !important;
    }
    .burger {
        display: block;
    }
 }

 @media (max-width: 768px) { 
    .navbar {
        
        background-color:rgb(47, 152, 245) !important;
    }
 }

 body {
     background-color: grey !important;
 }


