<h2 class="greeting">Hey! I'm Jonathan </h2>
<img id="jonathanImg" src="../../assets/jonathan.jpg" class="rounded-circle" alt="">

<hr class="line1">


<h3 class="messagePhilosophy">Just trying to help as many as I can.</h3>

<!-- <div id="loader-wrapper">
        <div id="loader"></div>
     
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
     
    </div>

    <div id="content">
            <h2>This is our page title</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div> -->

<hr class="line2">

<div class="container">

<h1 class="Lead">Joining the SEAL's</h1>

<h4 class="Lead">Quick Run Down</h4>

<p class="Lead">
    Towards the middle of Winter, ending of January, I was able to paricipate in the SEAL's program by TxT.
    In order to be able to participate, you must have completed at least one summer with TxT. I wanted to learn 
    more about code and myself so I decided to attempt to join it, and I did. Meeting 3 times a week, where Tuesday's
    and Saturday's are for Tech and Thursdays being for Leadership. Below are some of my journals during
    my venture. 
 </p>
</div>

 <div class="wrapper">
 <div class="container">
<h5 id="block1" class="Lead">1.31.18</h5>
<p id="block1" class="Lead">
    Today markes the second day of the SEAL program. Yesterday, we went over expectations and what we should expect,
    as well what they expect. I really enjoyed the first challenge given to us: Reverse Challenge. Taking a user input
    and reversing it to spell it backwards. Because I see the challenge more of a puzzle that I wan't to solve. What really
    drives me is to know when there is less information, but to utilize what you have. However, I have a habit of not asking for 
    help because I don't know how to. Putting me in an awkard state of inefficieny. So in the future I am going to ask for help 
    if I get stuck.
</p>
</div>
<div class="container">
<h5 id="block2" class="Lead">2.8.18</h5>
<p id="block2" class="Lead">
    Today was very interesting. It was a leadership day today. We were in charge of writing a 3 page paper about "What
     is Leadership?" What was interesting was that I took some actions as me being challenged. Understanding the fact 
     that I make assumptions when someone asks me a certain question that can be viewed differently upon others, I take 
     the the negative connotation, even if there wasn't one. From the beginning, I always views the class as being right 
     or wrong and Oscar being the one who teaches us. But in reality, it's just a conversation between two people, or better 
     all of us. I also learned what it meant to think critically, to me it is a skill that I have yet to debelop but I want to be 
     able to use it in any instance. Not accepting the norm but to instead question why it happened, the logical stance behind it.
     I really think I am building myself to be better and am really enjoying the SEAL's.
</p>
</div>
</div>

<div class="wrapper">
        <div class="container">
       <h5 id="block1" class="Lead">1.31.18</h5>
       <p id="block1" class="Lead">
           Today markes the second day of the SEAL program. Yesterday, we went over expectations and what we should expect,
           as well what they expect. I really enjoyed the first challenge given to us: Reverse Challenge. Taking a user input
           and reversing it to spell it backwards. Because I see the challenge more of a puzzle that I wan't to solve. What really
           drives me is to know when there is less information, but to utilize what you have. However, I have a habit of not asking for 
           help because I don't know how to. Putting me in an awkard state of inefficieny. So in the future I am going to ask for help 
           if I get stuck.
       </p>
       </div>
       <div class="container">
       <h5 id="block2" class="Lead">2.8.18</h5>
       <p id="block2" class="Lead">
           Today was very interesting. It was a leadership day today. We were in charge of writing a 3 page paper about "What
            is Leadership?" What was interesting was that I took some actions as me being challenged. Understanding the fact 
            that I make assumptions when someone asks me a certain question that can be viewed differently upon others, I take 
            the the negative connotation, even if there wasn't one. From the beginning, I always views the class as being right 
            or wrong and Oscar being the one who teaches us. But in reality, it's just a conversation between two people, or better 
            all of us. I also learned what it meant to think critically, to me it is a skill that I have yet to debelop but I want to be 
            able to use it in any instance. Not accepting the norm but to instead question why it happened, the logical stance behind it.
            I really think I am building myself to be better and am really enjoying the SEAL's.
       </p>
       </div>
       </div>
<!-- <button (click)="getContacts()" >RANDOM</button> -->

