#jonathanImg {
    width: 20%;
    margin-left: 40%;
    margin-top: 4%;
}

.lead {
    margin-top: 1%;
    margin-left: 1%;
}

.container {
    flex: 1;
}

.wrapper {
    display: flex;
}



.greeting {
    text-align: center;
    margin-top: 1%;
}

.line1 {
    width: 35%;
    border-width: 2px;
    
}

.messagePhilosophy {
    text-align: center;
}

.line2 {
    width: 70%;
    border-width: 2px;
}

.blog {
    margin-top: 1%;
    margin-left:1%;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: rgb(238, 116, 116);
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}